		.inicio{
			background-color: black;
			width: 50%;
			display: block;
    		margin-left: 285px;
    		margin-right: auto;
			border: solid white;
		}
		.imagens{
			border: solid white;
			margin-left: 140px;
			width: 442px;
			height: 333px;
		}
		.titulo{
    		color: white;
       		text-align: center;
       		font-family: Source Sans Pro;
		}
		body {
			background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4b87k0FLg/cat-walk-in-a-dark-wood-in-the-night-full-hd-high-definition-1080p-domestic-black-and-white-cat_bfalzurel_thumbnail-full03.png");
			background-repeat: repeat-y;
		}
		.subtitulo{
			color: white;
       		text-align: center;
       		background-color: black;
			width: 99%;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
			border: solid white;
    		font-family: Source Sans Pro;
		}
		.triste{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 325px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.caixa{
			display: flex;
		}
		.lista{
			display: inline;
			display: flex;
		}
		.feliz{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 510px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.otaku{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 510px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.cuck{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 325px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.redimensiona{
			width: 442px;
			height: 333px;
			-webkit-filter: grayscale(100%);
  		 	-moz-filter: grayscale(100%);
  	 		-ms-filter: grayscale(100%);
		    -o-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.culto{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 510px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.emo{
			background-color: black;
			border: solid white;
			width: 4%;
			margin-left: 510px;
			font-family: Source Sans Pro;
			text-align: center;
			color: white;
		}
		.botao{
			color: white;
       		text-align: center;
       		font-family: Source Sans Pro;
       		background-color: black;
			width: 10%;
			display: block;
			border: solid white;
			line-height:150px;
			cursor: pointer;
			margin-left: 5px;
		}